<aside class="col-md-4">
  <h1>Cart</h1>
  <hr>
  <div class="item-list">
    <% current_cart.cart_items.each do |item| %>
    <%= render partial: "shared/item", locals: { item: item } %>
    <!-- 把 items 用 render 獨立出來 -->
    <!-- locals用來設定指定變數，在不同view下，指定的變數該用什麼變數，item: 表示指定的變數； item 表示要用什麼變數 -->
    <% end %>
  </div>
  <hr>
  <div class="subtotal">
    <p>SUBTOTAL</p>
    <p class="amount"><%= current_cart.subtotal %></p>
  </div>
  <%= link_to "View Cart", cart_path %>
</aside>