<div class="container">
  <div class="row" id="products">
    <% @products.each do |product| %>
    <div class="col-sm-6 col-md-4 product-box">
      <div class="product-item">
        <%= image_tag product.image, class: "img-responsive center-block" %>
        <div class="caption">
          <h3><%= link_to product.name, product_path(product) %></h3>
          <p><%= truncate(product.description, length: 30) %></p>  
        </div>
      </div>
    </div>
    <% end %>
    <div class="text-center">
      <%= paginate @products %>
    </div>
  </div>
  <aside class="row">
    <p>chart zone</p>
  </aside>
</div>